<div class="container-fluid p-0 position-relative">
    <img src="assets/home_page.png" alt="Image Home Page" class="img-fluid w-100" style="height: 100vh; object-fit: cover; opacity: 0.6;">
    
    <div class="overlay-text position-absolute top-50 start-50 translate-middle text-center text-white">
      <h1>Bienvenue sur DevForma</h1>
      <p>Explorez nos formations et bien plus encore!</p>
      <p>Votre formation 100% en ligne ! </p>
      <p>Nos professeurs sont tous diplomés d'état</p>
    </div>
  
    <div class="position-absolute bottom-0 end-0 p-4 d-flex align-items-center">
      <p class="m-0 me-3">Ton apprentissage commence ici</p>
      <button class="btn btn-purple" routerLink="/trainings">Go</button>
    </div>
  </div>
  