
.nav-link{
  color: white;
  display: flex;
    align-items: center;
}

.navbar-brand{
  color: white;
  padding-left: 20px;
}

.logo {
  width: 85px;
  height: 85px;
  margin-top: 7vh;
}

.is-active {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration:underline;
    text-shadow: #000 1px 1px;
    color: #0b6112;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-nav {
    display: flex;
    align-items: center;
  }
